<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="puerto" value="5000"/>
		<!-- 127.0.0.1 es la ip localhost, 10.28.33.137 es la ip del profe -->
		<add key="servidor" value="127.0.0.2"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>